/* syncStatusWidget.css */

#sync-status-root {
	position: relative;
	width: 100%;
	height: 100%;
}

.sync-status-card {
	background-color: #232136;
	border-color: #393552;
	color: #eceff4;
	margin-bottom: 0;
}

.sync-status-divider {
	border-color: #393552;
	margin: 6px 0;
}

.sync-status-progress-bg {
	background-color: #393552;
}

.sync-status-progress-bar {
        height: 0.5rem;
        border-radius: 9999px;
        transition: all 0.2s;
        background-color: var(--accent-color);
        width: 0;
}

.sync-status-info {
	color: #a6adc8;
}

.sync-status-library {
        color: #c4a7e7;
}

.sync-status-library-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
}

.sync-status-library-item {
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 0.5rem;
       color: #c4a7e7;
       font-size: 0.65rem;
}
